# OpenSearch
OPENSEARCH_PORT=9200
OPENSEARCH_PERF_PORT=9600
OPENSEARCH_INITIAL_ADMIN_PASSWORD=MyStr0ng!Pass
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
DISABLE_SECURITY_PLUGIN=false

# OpenSearch Dashboards
OPENSEARCH_DASHBOARDS_PORT=5601
DISABLE_SECURITY_DASHBOARDS_PLUGIN=false
